
<style>

   
</style>

<div class="card result-item">
        <img src="https://via.placeholder.com/300x150" alt="Imagen de la entidad">
        <div class="card-content">
            <h3>Nombre de la entidad</h3>
            <p>ID: 1</p>
            <p>Descripción de la entidad.</p>
            <div class="dates">
                <p>Fecha de Creación: 2023-09-10</p>
                <p>Fecha de Modificación: 2023-09-12</p>
            </div>
        </div>
    </div>


<div class="card result-item">
    <img src="https://via.placeholder.com/300x150" alt="Imagen de la entidad">
    <div class="card-content">
        <h3>Otra cosa</h3>
        <p>ID: 1</p>
        <p>Descripción de la entidad.</p>
        <div class="dates">
            <p>Fecha de Creación: 2023-09-10</p>
            <p>Fecha de Modificación: 2023-09-12</p>
        </div>
    </div>
</div>
